<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.zywlzl.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.zywlzl.model.User">
    <!--@mbg.generated-->
    <!--@Table "user"-->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="chinese_name" jdbcType="VARCHAR" property="chineseName" />
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, user_name, "password", "role", phone_number, chinese_name, age
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from "user"
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from "user"
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neusoft.zywlzl.model.User">
    <!--@mbg.generated-->
    insert into "user" (user_name, "password",
      "role", phone_number, chinese_name, 
      age)
    values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{role,jdbcType=INTEGER}, #{phoneNumber,jdbcType=VARCHAR}, #{chineseName,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.zywlzl.model.User">
    <!--@mbg.generated-->
    insert into "user"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        "password",
      </if>
      <if test="role != null">
        "role",
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="chineseName != null">
        chinese_name,
      </if>
      <if test="age != null">
        age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null">
        #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.zywlzl.model.User">
    <!--@mbg.generated-->
    update "user"
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        "password" = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        "role" = #{role,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null">
        chinese_name = #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.zywlzl.model.User">
    <!--@mbg.generated-->
    update "user"
    set user_name = #{userName,jdbcType=VARCHAR},
      "password" = #{password,jdbcType=VARCHAR},
      "role" = #{role,jdbcType=INTEGER},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      chinese_name = #{chineseName,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>